Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-auto,
  readability-braces-around-statements,
  readability-misleading-indentation,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

HeaderFilterRegex: '.*shaker-foobar2000/.*'

WarningsAsErrors: '*'
